* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body, input {
	background-color:  #FBB169;
}

.container-fluid {
	margin: 0 auto;
	max-width: 1280px;
}

h1 {
	font-family:'Sorts Mill Goudy', Times;
	color: #2D7FB0;
}

.input {
	border: none;
	border-bottom: 2px solid #2D7FB0;
	outline: none;
	height: 30px;
	width: 40%;
}

.input:focus {
	border-bottom: 3px solid #2D7FB0;
}

.search-img {
	width: 20px;
	height: 20px;
	outline: none;
}